<div id="about-banner1" class="hero-image">
    <div class="hero-text">
        <h1>We are amateur coffee roasters</h1>
        <hr>
        <p>This all started with three friends who loved hanging out and loved coffee. So naturally we started spending all of our time together playing with coffee. We each began with popcorn poppers as makeshift coffee roasters and have since diverged into varying levels of roasters. We are the coffee team.</p>
    </div>
</div>

<div>
    <img class="featured" id="main-img" width="560" src="https://i.imgur.com/F8KQSbn.jpg">
</div>