<!-- <div id="charts-banner1" class="hero-image">
    <div class="hero-text">
        <h1>Track your roasts and see what others have learned</h1>
        <hr>
        <p>This will be a place where users can log and track their roast profiles for their own personal records or to share with the community.</p>
    </div>
</div> -->

<div id='roast-tracker'>
  <object type='text/html' width='100%' height='2000px' data='roastTracker.html'>
  <p>Failed to load Roast Tracker</p>
  </object>
</div>