<div id="media-banner1" class="hero-image">
  <div class="hero-text">
    <h1>Neat things happening in the coffee world</h1>
    <hr>
    <p>This will be a place where coffee team members will be able to post interesting videos, images, or articles about coffee roasting and brewing.</p>
  </div>
</div>
<div class="video-wrapper">
  <h2>Motorized Whirley Pop Roaster</h2>
  <iframe class="featured" id="main-vid" src="https://www.youtube.com/embed/BxRQ7W6f2f0?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

<% content_for :sub_menu do %>
  <li><a class="nav-button" href="/community/general">General</a></li>
  <li><a class="nav-button" href="/community/recipes">Recipes</a></li>
<% end %>