<h2>Community Forum</h2>
<a class="btn-primary" href="/community/post">Post Something</a>

<div id="msg-forum">
  <ul id="msg-list">
    <% get_forum_posts.each do |id, data| %>
      <li class="msg-box">
        <table class="msg-data">
          <tr>
            <td class="username">
              <a class="userlink" href="/profile/<%= data[:username] %>">
                <%= data[:username] %>
              </a>
            </td>
            <td class="time"><%= format_time(data[:time]) %></td>
          </tr>
        </table>
        <hr class="forum-post">
        <p class="msg-content"><%= data[:message] %></p>
      </li>
    <% end %>
  </ul>
</div>

<% content_for :sub_menu do %>
  <div class="spacer"></div>
  <li><a class="nav-button" href="/community">General</a></li>
  <li><a class="nav-button" href="/community/recipes">Recipes</a></li>
<% end %>