<h2>Create a new account</h2>

<form action="/users/create" method="post">
  <div class="edit-user">
    <p>
      <label>Username: </label>
      <input name="username" value="" autofocus><br>
    </p>
    <p>
      <label>Full Name: </label>
      <input name="name" value=""><br>
    </p>
    <p>
      <label>Email: </label>
      <input name="email" value=""><br>
    </p>
    <p>
      <label>Favorite Brew Method: </label>
      <input name="brew" value=""><br>
    </p>
    <p>
      <label>Password: </label>
      <input type="password" name="password" value=""><br>
    </p>
  </div>
  <button type=submit>Create</button>
</form>