<div id="index-banner1" class="hero-image">
  <div class="hero-text">
    <h1>Do you love coffee?</h1>
    <hr>
    <p>Are you interested in coffee but intimidated by the coffee experts? We want to welcome you into our community which is based on learning and growing together, not trying to be the smartest person.</p>
    <% if !logged_in? %>
      <a href="/users/create" class="btn-primary">Create Account</a>
    <% end %>
  </div>
</div>
<div class="test">
    <h1>Some stuff may go here eventually.</h1>
</div>

<div id="index-banner2" class="hero-image">
    <div class="hero-text">
        <h1>We are amateur coffee roasters</h1>
        <hr>
        <p>We're just a few coffee fanatics who love to roast our own beans. We are amateurs and we love learning about this incredible seed!</p>
        <a class="btn-primary" href="/about">Who we are</a>
    </div>
</div>

<div class="test">
    <h1>Maybe some stuff will go here too?</h1>
</div>

<div id="index-banner3" class="hero-image">
    <div class="hero-text">
        <h1>What's your preferred brew method?</h1>
        <hr>
        <p>We love hearing people's different approaches to brewing coffee. If you have a unique method that others might want to learn about, share the knowledge!</p>
        <a class="btn-primary" href="/community/general">Let us know!</a>
    </div>
</div>